.my-background{
    background-color: white !important;
    border:2px solid !important;
}
.mypadding-admin {
    padding-left: 5%;
    padding-right: 5%;
}
.my-button-width{
    max-width:125px;

}
.my-padding-khung{
    padding-top:10px;
    margin-top:10px;
}
.my-margin-left {
    margin-left: 10px;
}