
<!DOCTYPE html>
<html>

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<head>
    <title>@ViewBag.Title</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Public/MyCSS/MenuBar CSS/MenubarCSS.css" rel="stylesheet" />
    <script src="~/Public/MyJS/MenuBar JS/MenubarJS.js"></script>
    @RenderSection("head", required: false)
    <style>
        body {
            background-image: url('../../Public/Img/AN1.jpg');
            background-size: cover;
            height: 100%;
        }

        footer {
            padding: 1em;
            color: black;
            clear: left;
            margin-top: 30px;
        }
    </style>
</head>
<body>
    <header>
        <nav class="nav">
            <a href="#" class="nav-item is-active" active-color="DarkSlateBlue">Trang Chủ</a>
            <a href="#" class="nav-item" active-color="DarkKhaki">Về Chúng Tôi</a>
            <a href="#" class="nav-item" active-color="DeepPink">Liên Hệ</a>
            <a href="#" class="nav-item" active-color="LimeGreen">Dự Án</a>
            <span class="nav-indicator"></span>
        </nav>
    </header>


    @RenderBody()

    <footer style="background-color:black;opacity:0.7;">
        <p style="color:white;text-align:right;text-decoration:none">Khu Biệt Thự Lan Anh, 2 Đường Số 45, P. Bình An,  Quận 2, TP. HCM<br />Giờ mở cửa: 06:30 - 21:30 <br />©Copyright by </p>
    </footer>

</body>
</html>
