<head
<a href="~/Controllers/GioHangController.cs">~/Controllers/GioHangController.cs</a>></head>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <td>ID Món Ăn</td>
            <td>Tên Món Ăn</td>
            <td>Ảnh</td>
            <td>Số Lượng</td>
            <td>Giá</td>
            <td>Thành Tiền</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>ID Món Ăn</td>
            <td>Tên Món Ăn</td>
            <td>Ảnh</td>
            <td>Số Lượng</td>
            <td>Giá</td>
            <td>Thành Tiền</td>
        </tr>
    </tbody>
</table>

