.nav-food{
    width:300px;
    text-align:center;
    flex-direction:column;
    margin-left:17%;
    background-color:#fff;
}
.nav-name-bar{
    border-radius:30px;
}
.image-logo {
    padding: 0px 0px 0px 0px;
    border-radius: 50px 50px 50px 50px;
    border: solid 3px;
    max-width: 369px;
}
.bo-goc{
    border-radius: 30px 30px 30px 30px;
    border:solid 3px;
}


/*------------------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Raleway);
body {
    margin: 0px;
}

.my-list-menu {
    text-align: center;
    font-family: Raleway;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}



.link-3 {
    transition: 0.4s;
    color: #ff0000;
    font-size: 20px;
    text-decoration: none;
    padding: 0 10px;
   
}

    .link-3:hover {
        text-decoration:none;
        background-color: #4cff00;
        color: #ff6a00;
        border-radius:30px
    }
    .my-a{
        text-decoration:none;
        color:black;
    }
.my-active {
    text-decoration: none;
    background-color: #4cff00;
    color: #ff6a00;
    border-radius: 30px
}
.my-flex {
    width: 20rem;
    display: inline-block;
}
.my-padding-top{
    padding-top:50px;
}